img{

    border-radius: 100%;
    vertical-align: middle;
    width: 400px;
    height: 400px;
}
body{
   background-color: cadetblue;
}
h1{
    text-align: center;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.container{
   text-align: center;
}
#list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navigation_bar>nav>a{
    display: inline;
    text-align: center;
    padding: 14px 16px;
    background-color: rgb(43, 226, 195);
}
.navigation_bar{
    text-align: center;

}

